# API ключ Hugging Face 
# Получи ключ здесь: https://huggingface.co/settings/tokens
HF_API_KEY=

# API ключ Groq 
# Получи ключ здесь: https://console.groq.com/keys
GROQ_API_KEY=

# API ключ Google Gemini 
# Получи ключ здесь: https://aistudio.google.com/apikey
GEMINI_API_KEY=
